body {
    
    font-family: Garamond, serif;
    background-color: #0e1111;
}


.heading {
    background-color: #232b2b;
    border: 3px solid #0e1111;
    width:75%;
    margin: 0 auto;
}



.music-info {
    margin: 0 auto;
    
    width: 550px;
    height: 375px;
    border: 3px solid #232b2b;
    padding: 10px;
    background-color: #5c544e;

}

.review {
    margin: 0 auto;
    
    width: 70%;
    
    border: 3px solid #232b2b;
    padding: 10px;
    background-color: #5c544e;
}

th,td {
    padding:15px;
}

.container {
    text-align: center;
}
