{% extends "base.html" %}

{% block title %}Riley's Music Blog{% endblock %}


{% block music_info %}
   
    <table>  
        <th><p><img src="data:image/jpeg;base64,{{ album_cover | safe }}" alt={{ album }} width="300" height="300"></p></th>
        <th>
            <a href="http://127.0.0.1:8999/artist_profile/{{ artist }}"><p>{{ artist }}</p></a>
            <p>{{ album }}</p>
            <p>{{ song }}</p>
            <p>played {{ plays }} time(s)</p>
            
        </th>

    </table>

    
{% endblock %}

{% block review %}
    {{ review }}
    <br>
    <br>
    <a href={{ "http://127.0.0.1:8999/review/" + song.replace(" ", "_") }}>Submit A Review Here</a>
{% endblock %}




