{% extends "base.html" %}



{% block music_info %}
   
    <table>  
        <th><p><img src="data:image/jpeg;base64,{{ album_cover | safe }}" alt={{ album }} width="300" height="300"></p></th>
        <th>
            <p>{{ artist }}</p>
            <p>{{ album }}</p>
            <p>{{ song }}</p>
            
        </th>

    </table>

    
{% endblock %}

{% block review %}
    {{ review }}
    <br>
    <br>
    <a href={{ "http://127.0.0.1:5000/review/" + song.replace(" ", "_") }}>Submit A Review Here</a>
{% endblock %}




