{% extends "headers.html" %}


{% block content %}
<meta id="song" data-name="{{ song }}">
<script>
    
    function postReview(){
        console.log("This is a test");
        var input = document.getElementById("review").value;
        console.log(input);

        var song = $('#song').data();



        var SendInfo = { SendInfo: {"song": song, "review": input}};

        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/submit_review',
            contentType: "application/json",
            data: JSON.stringify(SendInfo),
            error: function () {
                console.log("error")
            }
        });
        
    }
    window.postReview = postReview;

</script>

<input type="text" id="review">
<input class="btn" type="submit" value="Submit" onclick="postReview()">








{% endblock %}